<header>
    <div class="logo">
      <a routerLink="/">
        <img src="../assets/image/l1.png" alt="Lilz Storage" width="150%" height="100%"  />
      </a>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/StorageUnit"><i class="fas fa-box"></i> Storage Unit</a></li>
        <li><a routerLink="/AboutUs"><i class="fas fa-info-circle"></i> About Us</a></li>
        <li><a routerLink="/ContactUs"><i class="fas fa-phone"></i> Contact Us</a></li>
        <li><a routerLink="/"><i class="fas fa-home"></i> Home</a></li>
      </ul>
    </nav>
  </header>