header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #080808;
    color: #fff;
    padding: 10px 20px;
    /* Adjust padding as needed */
    height: 20px;
    /* Adjust the height as needed */
  }
  
  .logo img {
    height: 40px;
    /* Adjust the logo size as needed */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    font-size: larger;
  }
  
  nav ul li {
    margin-right: 20px;
    
  }
  
  a {
    text-decoration: none;
    color: #f8f2f2;
    font-weight: bold;
    cursor: pointer;
  }
  
  li {
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
  }

  li:hover {
    background-color: #444444;
    
  }