<div class="container" id="BookingForm">
<form #addForm="ngForm" (ngSubmit)="onAddBooking(addForm)">
  <h2>Booking Form</h2>
  <input type="text" placeholder="Unit Size" />
  <input type="text" placeholder="Width" />
  <input type="text" placeholder="Length" />
  <div class="Dates">
    <div id="BookingDate">
      <label>Booking Date:</label>
      <input ngModel name="bookingDate" type="date" placeholder="Booking Date" />
    </div>
    <div  id="From">
      <label>From:</label>
      <input ngModel name="startDate" type="date" placeholder="From" />
    </div>
    <div id="To">
      <label>To:</label>
      <input ngModel name="endDate" type="date" placeholder="Too" />
    </div>
  </div>

  <div class="spinner">
    <div>
      <label>Quantity:</label>
    </div>

    <button type="button" class="decrement" (click)="decrementQuantity()">-</button>
    <input
      type="number"
      id="quantity"
      min="1"
      max="10"
      [(ngModel)]="quantity"
      name="quantity"
      readonly
    />
    <button type="button" class="increment" (click)="incrementQuantity()">+</button>
  </div>
  <div class="collection">
    <label for="collection">Collection:</label>
    <input
    ngModel
    name="collection"
      type="radio"
      id="yes"
      name="collection"
      value="true"
      (change)="toggleExtraFields(true)"
    />
    <label for="yes">Yes</label>
    <input
    ngModel
    name="collection"
      type="radio"
      id="no"
      name="collection"
      value="false"
      (change)="toggleExtraFields(false)"
    />
    <label for="no">No</label>
  </div>

  <div *ngIf="showExtraFields">
    <input type="text" placeholder="Street Number" />
    <input type="text" placeholder="Street Name" />
    <input type="text" placeholder="State" />
    <input type="text" placeholder="Zip Code" />
    <!-- Add more extra fields as needed -->
  </div>
  <input  ngModel name="totalAmount" type="text" placeholder="Total" />
  <label>Total:</label>
  <div>
    <button  type="submit" class="btn" id="submit-button">Complete Booking</button>
  </div>
  <!-- [disabled]="addForm.invalid" -->
</form>

<div *ngFor="let booking of booking">
  <div>
    {{booking.bookingNumber}}
  </div>

</div>

</div>