<div class="container" id="BookingForm">
  <form #addForm="ngForm" (ngSubmit)="onAddBooking(addForm)">
    <h2>Booking Form</h2>
    <div class="StorageUnits">  
      <span>Unit Size Description: {{ unitSizeDescription }}</span>  
      <span>Unit Size: {{ unitSize }} m2</span>
      <span>Width: {{ width }} m2</span>
      <span>Length: {{ length }} m2</span>
      <span>Height: {{ height }} m2</span>
      <span>Price: R {{ price }}</span>
  </div>

    <div class="Dates">
      <div id="BookingDate">
        <label>Booking Date:</label>
        <input
          name="bookingDate"
          placeholder="Booking Date"
          [(ngModel)]="currentDate"
        />
      </div>
      <div id="From">
        <label>From:</label>
        <input ngModel name="startDate" type="date" placeholder="From" />
      </div>
      <div id="To">
        <label>To:</label>
        <input ngModel name="endDate" type="date" placeholder="Too" />
      </div>
    </div>

    <!-- <div class="spinner">
    <div>
      <label>Quantity:</label>
    </div>

    <button type="button" class="decrement" (click)="decrementQuantity()">-</button>
    <input
      type="number"
      id="quantity"
      min="1"
      max="10"
      [(ngModel)]="quantity"
      name="quantity"
      readonly
    />
    <button type="button" class="increment" (click)="incrementQuantity()">+</button>
  </div> -->
    <div class="collection">
      <label for="collection">Collection:</label>
      <input
        ngModel
        name="collection"
        type="radio"
        id="yes"
        name="collection"
        value="true"
        (change)="toggleExtraFields(true)"
      />
      <label for="yes">Yes</label>
      <input
        ngModel
        name="collection"
        type="radio"
        id="no"
        name="collection"
        value="false"
        (change)="toggleExtraFields(false)"
      />
      <label for="no">No</label>
    </div>

    <div *ngIf="showExtraFields">
    <input type="text" id="streetNumber" name="streetNumber" placeholder="Street Number" [(ngModel)]="streetNumber"/>
    <input type="text" id="streetName" name="streetName" placeholder="Street Name" [(ngModel)]="streetName"/>
    <input type="text" id="state" placeholder="State" name="State" [(ngModel)]="state"/>
    <input type="text" id="zipCode" placeholder="Zip Code" name="ZipCode" [(ngModel)]="zipCode"/>
  </div>
    <label>Total Price:</label>
    <input
      ngModel
      name="totalAmount"
      type="text"
      placeholder="Total"
      [(ngModel)]="totalPrice"
    />

    <div>
      <button type="submit" class="btn" id="submit-button">
        Complete Booking
      </button>
    </div>
  </form>
  <!-- [disabled]="addForm.invalid" -->

  <!-- <div *ngFor="let booking of booking">
  <div>
    {{booking.bookingNumber}}
  </div>

</div> -->
</div>