.page-container {
  background-color: #144272;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.header {
  margin-bottom: 20px;
}

h1 {
  font-size: px;
  color: white;
  background-color: #526d82;
  padding: 10px 20px;
  border-radius: 10px;
}

.booking-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  margin: 10px 0;
  background-color: lightblue;
  border-radius: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}
