
.forgot-password-container {
    width: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #f7f7f7;
  }
  
  .outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .forgot-password-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  .form-group input[type="email"],
  .form-group input[type="text"],
  .form-group input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  