nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 20px; 
}

nav ul li {
  margin-right: 20px;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #f4f1f1;
  font-weight: bold;
}



.move-text {
  font-size: 2rem;
}

.storage-text {
  text-align: center;
  margin-top: 20px;
}


.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 16px;
  padding: 50px;
  margin-top: -50px;
}



.first-card {
  width: calc(30% - 30px); 
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.61);
  padding: 28px;
  height: max-content;
  flex-wrap: wrap;
}

p {
  padding-right: 1em;
  text-align: left;
}

.second-card{
  width: calc(30% - 20px); 
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.61);
  padding: 28px;
  height: fit-content;
  flex-wrap: wrap;
}

.third-card{
  width: calc(30% - 20px); 
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.61);
  padding: 28px;
  height: fit-content;
  flex-wrap: wrap;
}

.card:hover {
  transform: translateY(-5px);
}

.card-content {
  padding: 20px;
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.card p {
  margin: 5px 0;
}

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 20px 50px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
  font-weight: 800;
  transition: background-color 0.2s ease-in-out;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  border-bottom: 3px solid black;
}

.btn:hover {
  background-color: #555;
}

strong {
  font-weight: bold; 
}

.head {
  text-align: center;
  border: 3px solid black;
  width: 100%;
  margin-top: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.ava {
  display: flex;
  margin-top: 2em;
}

.card-group {
  max-width: 1260px;
  display: flex;
  column-gap: 16px;
  padding: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  height: 300px;
  background-image: linear-gradient(85deg,#434343,#262626);
  padding: 32px;
  box-shadow: -16px 0 32px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  transition: transform 250ms;
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card:hover {
  transform: translate(-8px, -16px)
  rotate(3deg);
}

.card:hover ~ .card {
  transform: translate(130px);
}

.pricePar {
  /* margin-left: 0.5em; */
  padding-left: 0.2em;
}


