
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Dark blue-gray background color */
  color: #fff;
  padding: 10px 20px; /* Adjust padding as needed */
  height: 20px; /* Adjust the height as needed */
  margin-bottom: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 20px; /* Adjust the right margin as needed */
}

nav ul li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #f4f1f1;
  font-weight: bold;
}



/* Define the animation keyframes */
@keyframes moveText {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px); /* Adjust the distance and direction */
  }
}

/* Styles for the hero section */
/* Hero Section Styles */




.move-text {
  font-size: 2rem;
}

/* Storage Text Styles */
.storage-text {
  text-align: center;
  margin-top: 20px;
}

/* Card Styles */
.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow cards to wrap to the next row on smaller screens */
  margin: 20px;
}

.first-card {
  width: calc(33.33% - 20px); /* Adjust the card width */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  height: 28em;
  /* margin-bottom: 100pt; */
}

.second-card{
  width: calc(33.33% - 20px); /* Adjust the card width */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  height: 33em;
  /* margin-bottom: 100pt; */

}

.third-card{
  width: calc(33.33% - 20px); /* Adjust the card width */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  height: 37em;
}

.card:hover {
  transform: translateY(-5px);
}

.card-content {
  padding: 20px;
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.card p {
  margin: 5px 0;
}

.btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #555;
}

strong {
  font-weight: bold; /* Make the word "Description" bold */
}

.head {
  /* display: flex; */
  text-align: center;
  border: 3px solid black;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}




