.DriverHome {
    background-color: #3a797e80;
    border-radius: 5px;
    box-shadow: 0 0 2000px #3a797e9d;
    padding: 100px;
    width: 800px;
    margin: 0 auto;
    margin-top: 4em;
}
.collections {
    margin: 0 0 2em 0;
    list-style:none;
    padding: 0;
    width: 15em;
    display: inline-flex;
  }

  h2 {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    top: -90px;
  }

  .collections-container {
    display: flex;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 1em;
    justify-content: flex-start;
    width: 450px; 
  }