<!-- home.component.html -->
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" />

<div class="home">
  <header>
    <div class="logo">
      <img src="../assets/image/l1.png" alt="Lilz Storage" width="150%" height="100%"  />
    </div>
    <nav>
      <ul>

        <li><a routerLink="/storage"><i class="fas fa-box"></i> Storage Unit</a></li>
        <li><a routerLink="/about"><i class="fas fa-info-circle"></i> About Us</a></li>
        <li><a routerLink="/contact"><i class="fas fa-phone"></i> Contact Us</a></li>
        <li><a routerLink="/viewEmail"><i class="fas fa-invoice"></i> Invoice</a></li>
        <li><a routerLink="/"><i class="fas fa-home"></i> Home</a></li>
      </ul>
    </nav>
  </header>
  <div class="hero">
    <div class="slideshow-text">
      <div class="background-image"></div>
      <h1 class="move-text">We Are the Best Storage</h1>
      <p>Your Trusted Solution for Safe and Convenient Storage</p>
      <a  fullWidth variant="outline" routerLink="/storage-unit" class="btn">Explore Our Units</a>
    </div>
  </div>

  <section class="content">
    <h2>Welcome to Lilz Easy</h2>
    <p>
      Discover the convenience of Lilz Easy Storage. We offer secure and
      affordable storage solutions tailored to your needs. Whether you need
      short-term storage during a move or long-term storage for your belongings,
      we've got you covered.
    </p>
  </section>
</div>
<section class="advertising">
  <div class="ad">
    <i class="fas fa-shield-alt"></i> Secure Storage
    <p>Our top priority is the safety of your belongings.</p>
  </div>
  <div class="ad">
    <i class="fas fa-lock"></i> 24/7 Access
    <p>Access your stored items whenever you need them.</p>
  </div>
  <div class="ad">
    <i class="fas fa-dollar-sign"></i> Affordable Rates
    <p>We offer competitive pricing for all storage needs.</p>
  </div>
</section>
