.about-us {
  background-color: #f9f9f9;
  padding: 80px 0;
  text-align: center;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 36px;
  color: #333;
  margin-bottom: 40px;
}
nav img{
  width: 5%;
  height: 5%;
  
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-member {
  width: 300px;
  margin: 20px;
}

/* Card styles */
.card {
  perspective: 1000px;
  width: 100%;
  height: 300px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card-back {
  background-color: #fff;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;

}

img {
  max-width: 100%;
  border-radius: 50%;
}

h3 {
  font-size: 24px;
  margin: 10px 0;
}

p {
  font-size: 18px;
  margin-top: 5px;
}
footer{
  text-align: center;
}

 nav {
  background-color: #333; /* Background color for the navigation bar */
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's on top of other content */
  text-align: center;
  
}

 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; /* Center align navigation items */
  text-align: right;
  
}

 nav li {
  display: inline;
  margin-right: 30px; /* Spacing between navigation items */
}

 nav a {
  text-decoration: none;
  color: #fff; /* Text color for navigation links */
  font-weight: bold;
  
}

 nav a:hover {
  color: #ff6600; /* Text color for navigation links on hover */
}

