.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #040d12;
    padding: 5px 10px;
    height: 50px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline;
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .nav-icon {
    width: 150px;
    height: 60px;
  }
  